<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CS:GO Stats</title>

        <link rel="stylesheet" href="//bootswatch.com/flatly/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Jquery UI-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


        <link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
        <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

        <!-- Hightcharts lib -->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

        <script src="/js/combo-dual-axes.js"></script>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div>
            <div>
                <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                    <ul class="nav navbar-nav">
                        <li><a class="navbar-brand" href="/">CS:GO Stats</a></li>
                        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </nav>
            </div>
            <br/>
            <div class="container">

                <div class="row">
                    <ul class="nav nav-tabs">
                      <li><a href="/" >Major events</a></li>
                      <li class="active"><a href="minorevents">Minor events</a></li>
                      <li><a href="teams">Teams</a></li>
                    </ul>
                </div>

                <br>
                <br>
                <select class="form-control years">
                    <option selected>All time</option>
                    <option>2016</option>
                    <option>2015</option>
                    <option>2014</option>
                    <option>2013</option>
                    <option>2012</option>
                </select>
                <div id="chartContainer" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                <hr>
                <div class="row well">
                    <table id="majorEventsTable" class="table table-hover">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Winner</th>
                            <th>Runner up</th>
                            <th>Prizepool</th>
                            <th>Country</th>
                            <th>Location</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% if(events) {%>
                          <% for(var i=0; i < events.length; i++) {%>
                              <tr class="clickable-row">
                                  <td><%= events[i].name %></td>
                                  <td><%= events[i].date %></td>
                                  <td><%= events[i].winner %></td>
                                  <td><%= events[i].runnerUp %></td>
                                  <td><%= events[i].prizepool %></td>
                                  <td><%= events[i].country %></td>
                                  <td><%= events[i].location %></td>
                              </tr>
                          <% } %>
                        <% } %>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </body>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://localhost:8080');

        socket.emit("getMinorEventsByCountry", null);

        socket.emit("getMinorEventsCount");

        socket.on('sendEventsCount', function(data){
            comboDualAxes(data);
        });

        $(".years").on('change', function(e){
            if(this.value == "All time"){
                socket.emit("getMinorEventsCount", this.value);
            } else {
                socket.emit("getMinorEventsByYear", this.value);
            }
        })

        $(document).ready(function() {
          $('#majorEventsTable').dataTable();
        });

        $('#majorEventsTable').on('click', '.clickable-row', function(event) {
          $(this).addClass('active').siblings().removeClass('active');
        });
    </script>
</html>
